body{
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
  color: red;
}
#title{
    text-align: center;
    margin-top: -120px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 300%;
    padding-bottom: 20vh;
}
#buttons{
    position: fixed;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, 0%);
}
#button1{
    text-align: center;
    display: inline-block;
    font-size: 140%;
    padding-right: 10vh;
    animation-delay: 1.2s;
}
#button2{
    text-align: center;
    display: inline-block;
    font-size: 140%;
    padding-right: 5vh;
    animation-delay: 1.4s;
}
#button3{
    text-align: center;
    display: inline-block;
    font-size: 140%;
    padding-left: 5vh;
    animation-delay: 1.6s;
}
#button4{
    text-align: center;
    display: inline-block;
    font-size: 140%;
    padding-left: 10vh;
    animation-delay: 1.8s;
}
#section1{
    background: url("Images/test.jpeg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.icon-background{
    color: transparent;
    background-color: transparent;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
}
#hover:hover{
    background-size: 200%;
}
/*SECTION 2*/
#section2{
    background-color: black;
}