body{
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
    color: #19405f;
}
a{
    color: none;
}
#title{
    text-align: center;
    margin-top: -120px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 300%;
    padding-bottom: 20vh;
}
#buttons{
    position: fixed;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, 0%);
    
}
#button1{
    text-align: center;
    display: inline-block;
    font-size: 140%;
    padding-right: 10vh;
    animation-delay: 1.2s;
    background: transparent;
    
}
#button2{
    text-align: center;
    display: inline-block;
    font-size: 140%;
    padding-right: 5vh;
    animation-delay: 1.4s;
    background: transparent;
}
#button3{
    text-align: center;
    display: inline-block;
    font-size: 140%;
    padding-left: 5vh;
    animation-delay: 1.6s;
    background: transparent;
}
#button4{
    text-align: center;
    display: inline-block;
    font-size: 140%;
    padding-left: 10vh;
    animation-delay: 1.8s;
    background: transparent;
}
#section1{
    background: url("Images/test.jpeg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.icon-background{
    color: transparent;
    background: none;
    border: 1px solid #19405f;
    border-radius: 50%;
     -webkit-transition: background 2s; /* For Safari 3.1 to 6.0 */
    transition: background 2s;
}
.icon-background:hover{
    color: transparent;
    background: black;
    opacity: .9;
}
/*SECTION 2*/
#section2{
    background-color: z19405f;
}
#portfolioImage{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
     -webkit-transition: filter 1s; /* For Safari 3.1 to 6.0 */
    transition: filter 1s;
    width: 80%;
    height: 80%;
    position: relative;
    left: 10%;
    transform: translateX(50%);

}
#portfolioImage:hover{
    -webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
    filter: grayscale(10%);
}